#reviewButton{
	color: red;
}

#pinButton{
	color: blue;
}

.List{
	font-size: 10px;
}

#map{
	height: 400px;
	width: 100%;
}

#infoBox{
	text-align: center;
	background: gray;
	height: 200px;
	width: 80%;
}