doctype html
html
  head
    title Need2Go
    link(rel='stylesheet', href='/stylesheets/style.css')
    // <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')
    script(type='text/javascript', src='/javascripts/PinUser.js')
  body(ng-app='')
    h1
      | Need2Go
      h1
        center
          #map  
        script.
          function initMap() {
          var uluru = {lat: -25.363, lng: 131.044};
          var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
          });
          var marker = new google.maps.Marker({
          position: uluru,
          map: map
          });
          }
        center
          #infoBox
            ul
              li Location ID: UNKNOWN
              li Location: UNKNOWN
              li Name: UNKNOWN
              li Rating: UNKNOWN
              li Notes: Scromit City
        button#reviewButton(type='button') Submit a Review!
        input(type='button', value='pinButton', onclick='onPositionUpdate()')
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC5YZHiXCCPhqSuJfBMQcyhvtcOvJE6qGQ&callback=initMap', async='', defer='')
        h2
          | Hellos
          h2
            #hello.List
              p Here is a list of the various hellos
              ul
                li Hola
                li Bonjour
                li Konnichiwa
              div
                #world
                  p World
